/*Universal Styles*/

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0px;

}
use for mutliple class selectiom
span[class|="foot"]{
}


/*div{
  border: solid 1px red;
  display: block;
}*/


h1 {
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

img {
  max-width: 100%;
}

p, span {
  font-family: 'Abel', sans-serif;
}

/*Header*/
header {
  height: 64px;
  position: fixed;
  width: 100%;
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px auto;
  top: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  border-bottom: 1px tomato solid;
}

.title {
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
}

nav span {
  padding-right: 16px;
}

nav span a:hover {
  color: tomato;
  font-weight: bold;
  transition: all 300ms ease 50ms;
}

nav span a {
  text-decoration: none;
  color: black;
}


#imprint {
  font-weight: bold;
}

.mobile-menu {
  display: none;
}

.menu-item img{
  display: none;
}

/*jumbotron*/

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 4rem;
  display: flex;
  width: 100%;
  background-color: gainsboro;
  flex-direction: row;
  margin: 0px auto;
}

.jumboleft {
  width: 60%;
  margin: 32px 24px;
  height: auto;
}

.jumboleft img {
  max-width: 100%;
}

.jumboright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.jumbohead {
  padding-top: 4rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 70%;
  height: 50%;
  margin-left: 24px;
  /*flex-shrink: 3;*/
}

.jumbohead h2{
}

.jumbohead p{
  font-size: 1.4rem;
  padding-bottom: 1.4rem;
  /*flex-shrink: 1;*/
}

.startbutton {
  background-color: DimGrey;
  padding: 16px 0px;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  /*flex-shrink: 2;*/
}

.startbutton:hover {
  background-color: tomato;
  transition: all 300ms ease 50ms;
}

.startbutton span{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

/*Feature - Main*/

.main {
  display: flex;
  width: 100%;
  height: auto;
}

.main .left {
  display: block;
  max-width: 60%;
  margin: 32px 24px;
  height: auto;
}

.main .contain-img {
  width: 100%;
  height: auto;
}

.main .contain-img img {
  width: 100%;
}

.mainhead{
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainhead h2{
  padding-bottom: 10px;
  line-height: 1;
}

.quote{
  font-size: 0.8rem;
  font-style: italic;
  padding-top: 32px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 32px;
  margin-top: 32px;
  vertical-align: baseline;
}

.box {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: 1px gainsboro solid;
}

.box:nth-child(3n+3)
{
  background-color: gainsboro;
}

.box .contain-img:first-child {
  margin-top: 0px;
}

.box .contain-img  {
  width: 35%;
  height: auto;
  margin: 16px 16px;
}

.box .content  {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.box .mobile {
  display: none;
}

.box .contain-img img {
  width: 100%;
}

.box p {
  padding-top: 16px;
}

.box a {
  color: cadetblue;
}

/*Feature - Learning*/

.learning {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
}

.feature-head{
  width: 100%;
}

.feature-head h2 {
  margin: 32px 0;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.catalog {
  margin: 0 72px 32px 72px;
}

.courses-contain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.course{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 16px 16px;
  background-color: white;
}

.course .contain-img {
  height: auto;
  width: 100%;
}

.course img {
  width: 100%;
}

.course .content {
  margin: 16px 16px;
  display: flex;
  flex-direction: column;
}

.course .content span {
  padding: 8px 0px;
}

.course:hover {
  background-color: powderblue;
  transition: all 300ms ease 50ms;
}


/*Features - Thesis*/

.thesis {
  background-color: white;
}

.exhibits{
  display: flex;
  width: 100%;
}

.left{
  width: 60%;
  display: block;
  margin-left: 24px;
}

.left .content {
  margin-right: 24px;
}

.left .content h4{
  padding-bottom: 8px;
}

.left .content p {
  padding-bottom: 32px;
}

.video {
  margin-bottom: 24px;
  margin-right: 24px;
}

.video video {
  width: 100%;
}

.thesis .right{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 32px;
  margin-top: 0px;
  vertical-align: baseline;
}

.thesis .box:first-child {
  background-color: gainsboro;
}


.thesis .contain-img {
  width: 35%;
  height: auto;
  margin: 16px 16px;
}

.thesis .content {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;;
}

.thesis .content h4 {
  padding-top: 8px;
  padding-bottom:8px;
}



/* footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: gainsboro;
}

.foot-left {
  margin-left: 24px;
  margin-top: 16px;
}

.foot-right {
  margin-right: 24px;
  margin-top: 16px;
  height: 100px;
}

.foot-right span{
  padding-left: 8px;
}

.foot-right a {
  text-decoration: none;
  color:inherit;
}

/*Responsive-media queries */

@media only screen and (max-width: 740px){

  /*Header*/
  body {
    width: 100%;
    margin: 0px;
  }
  header{
    justify-content: center;
  }

  .title, .title span, nav{
    display: none;
  }

  .mobile-menu {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 24px;
  margin-right: 24px;
  }

  .mobile-menu img:hover {
    background-color: tomato;
    transition: all 300ms ease 50ms;
  }

  /*Jumbotron*/
  .jumbotron{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    }

  .jumboright {
    justify-content: center;
    align-items:center;
  }

  .jumbohead {
    margin-left: 4.5rem;
    justify-content: center;
  }

  .jumbohead h2{
    padding: 2rem;
    font-size: 2rem;
    width: 100%;
    }

  .jumbohead p {
    padding: 16px 16px 12px 16px;
    }

  .startbutton {
    margin: 12px 16px 32px 16px;
    max-width: 70%;
    }

/*Main*/
  .main .left {
    display: none;
  }

  .main .right {
    width: 100%;
    align-items: center;
  }

  .box {
    flex-direction: column;
    align-items: center;
    margin: 16px 16px 64px 16px;
    max-width: 470px;
  }

  .box .contain-img {
    width: 90%;
  }

  .box .contain-img .desktop {
    display: none;
  }

  .box .mobile {
    display: block;
    width: 100%;
    height: auto;
  }

  .box:nth-child(3n+3)
  {
    background-color: gainsboro;
  }

  /*Learning*/

  .feature-head {
    background-color: white;
  }

  .feature-head h2 {
    margin: 32px 0px 16px 0px;
  }

  .catalog {
    margin: 0px;
    background-color: white;
  }

  .courses-contain{
    width: 100%;
    justify-content: center;
  }
  .course {
    background-color: gainsboro;
    width: 90%;
    margin: 8px 0px;
  }
  .course .contain-img {
    display: none;
  }
  .course .content span {
    display: none;
  }
  .course .content p {
    display: none;
  }

  .course .content h4 {
    margin: 16px 24px;
  }

  /*Thesis*/

  .exhibits .right {
    display: none;
  }

  .exhbits .right .content {
    display: none;
  }

  .exhibits .left .content {
    display: none;
  }

  .exhibits .left {
    width: 100%;
  }


  /*footer

@media only screen and (max-width: 470px){
  .foot-right {
    display: none;
  }

  .foot-left {
    margin-bottom: 16px;
  }
}*/


}
